extends layout

block content
  .logo
    img(src='images/LogoGlasses150.png', alt='')
  // end logo
  #nav.col-md-3
    ul
      li
        a(href='/apps') APPS
        |                       
        img(src='images/apps.png', alt='')
      |                   
      li
        a(href='/services') SERVICES
        |                       
        img(src='images/services.png', alt='')
      |                   
      li
        a(href='/about') ABOUT
        |                       
        img(src='images/about.png', alt='')
      |                   
      li
        a(href='/contact') CONTACT
        |                       
        img(src='images/contact.png', alt='')
      |
      li
        a(href='/users/login') LOGIN
        |                       
        
  // end nav
  #mainWindow.col-md-9
    .mainTextBlock
      h1.welcome Welcome To
      |                     
      p
        span.smarty smarty
        span.subTitle cat designs
      |                     
      p.info JAVASCRIPT DEVELOPMENT
    
