extends layout

block content
  .logo
    img(src='images/LogoGlasses150.png', alt='')
  // end logo
  #nav.col-md-3
    ul
      li
        a(href='/') HOME
        |                       
        img(src='images/homeWht.png', alt='')
      |                   
      li
        a(href='/apps') APPS
        |                       
        img(src='images/appsWht.png', alt='')
      |                   
      li
        a(href='/about') ABOUT
        |                       
        img(src='images/aboutWht.png', alt='')
      |                   
      li
        a(href='/contact') CONTACT
        |                       
        img(src='images/contactWht.png', alt='')
  // end nav
  #mainWindow.col-md-9
    #serviceWindow
      h2 SERVICES WE PROVIDE
      |                     
      .col-md-4.serviceBox
        h3 CUSTOM WEBSITES
        |                         
        p.serviceText
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      |                     
      .col-md-4.serviceBox
        h3 SINGLE PAGE APPS
        |                         
        p.serviceText
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      |                     
      .col-md-4.serviceBox
        h3 DESKTOP APPS
        |                         
        p.serviceText
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      |                     
      .col-md-4.serviceBox
        h3 PLUG-INS
        |                         
        p.serviceText
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      |                     
      .col-md-4.serviceBox
        h3 WP CONVERSION
        |                         
        p.serviceText
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      |                     
      .col-md-4.serviceBox
        h3 TROUBLESHOOTING
        |                         
        p.serviceText
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        
